Source: eshare-newline-dongle
Section: misc
Priority: optional
Maintainer: LliureX Team <lliurex@gva.es> 
Standards-Version: 4.3.0
Build-Depends: debhelper-compat (= 10)
Homepage: https://github.com/lliurex/eshare-newline-dongle

Package: eshare-newline-dongle
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, systemd, udev
Description:  LliureX eShare newline dongle support
 The package installs newline ShareMax software and required udev rules,
 systemd services an xdg session scripts to use newline dongle device.
 . 
 The newline dongle allows wireless screen mirroring and touchscreen
 support for newline interactive displays.
