#!/usr/bin/make -f
%:
	dh $@ --with llxsrc,zero

override_dh_install:
	dh_install
	chmod 755  debian/eshare-newline-dongle/usr/share/eshare-newline-dongle/sharemax/EDeviceMonitor
	sed -i "/^ExecStart=/s%=.*$$%=/usr/share/eshare-newline-dongle/sharemax/EDeviceMonitor%" debian/eshare-newline-dongle/usr/lib/systemd/user/EDeviceMonitor.service

override_dh_strip:
	dh_strip --exclude=debian/eshare-newline-dongle/usr/share/eshare-newline-dongle/sharemax/EDeviceMonitor

override_dh_installudev:
	dh_installudev --priority=99

