[Unit]
Description=Device Monitor of EShare

[Service]
#Environment="DISPLAY=:0"
Environment="XAUTHORITY=%h/.Xauthority"
#ExecStart=/opt/StarryHubClickDrop/EDeviceMonitor    
ExecStart=/usr/share/lliurex-newline-dongle/sharemax/EDeviceMonitor
#ExecStart=/home/kylin/code/EDeviceMonitor/build/EDeviceMonitor

[Install]
WantedBy=default.target
